node_modules
.next
.env.development
.env.production
.env.local
screenshot/
src/i18n/.DS_Store
src/.DS_Store
src/app/.DS_Store
docs/.DS_Store
.DS_Store
# Auth test files with sensitive information
public/test-auth.html
.cursor/rules/mcp.json
.cursor/mcp.json
# Ignore shadcn components
src/components/shadcn/*
runner/.env
runner/nodejs-main-runner/.env
.env
.env.host
.env.server
suncherry-playwright_trace/
runner/python-slave-runner/files.py
*.pyc
nohup.out
traces/

# Git API temporary directories
temp/
virtualpytest/src/tmp/screenshots/android_mobile.jpg
virtualpytest/src/web/components/controller/av/tmp/DragSelectionOverlay.tsx
virtualpytest/src/web/components/controller/av/tmp/ScreenDefinitionEditor.tsx
virtualpytest/src/web/components/controller/av/tmp/ScreenshotCapture.tsx
virtualpytest/src/web/components/controller/av/tmp/StreamClickOverlay.tsx
virtualpytest/src/web/components/controller/av/tmp/StreamViewer.tsx
virtualpytest/src/web/components/controller/av/tmp/VerificationEditor.tsx
virtualpytest/src/web/components/controller/av/tmp/VideoCapture.tsx
