node_modules
.next
screenshot/
src/i18n/.DS_Store
src/.DS_Store
src/app/.DS_Store
docs/.DS_Store
.DS_Store
shadcn-admin/
src/server/prisma/dev.db-journal
prisma/migrations/
tmp.md
.vscode/settings.json
