@font-face {
    font-family: "Interstate Light";
    src: url("/assets/fonts/InterstatePro-Light.otf");
    src: url('/assets/fonts/InterstatePro-Light.svg') format('svg'),
    url('/assets/fonts/InterstatePro-Light.woff') format('woff'),
    url('/assets/fonts/InterstatePro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Theme colors for brands */
body.playsports,
body.tadaam,
body.basetv,
body.telenet,
body.ziggo,
body.upc_ch,
body.upc_sk,
body.upc_pl {
    color: #e8e8e8 !important;
}

body.virgin_uk,
body.virgin_ie {
    color: #dfdbdf !important;
}

/* Needed for AJO template background transparency */
#alloy-messaging-container {
    background-color: rgba(0, 0, 0, .6) !important;
}